# Configuración del Servidor
PORT=

# Credenciales de Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Credenciales de Cloudinary (las usaremos más adelante)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Configuración de Correo SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

# Configuracion de enlace del soporte de correo de la tienda
EMAIL_SUPPORT_FROM=
# Configuracion de enlace de seguimiento de pedido -> se tiene vincular a shalom api perú
TRAKING_URL_FRONT=