# Configuración del Servidor
PORT=

# Credenciales de Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Credenciales de Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Configuración de Correo
EMAIL_USER=
EMAIL_PASS=